body{
    background-color: black !important;
    background-image: url(/source/Layer\ 1.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top 5vh right 50%;
    header{
        img{
            width: auto;
            height: 5vh;
            cursor: pointer;
        }
        background-color: black;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(59,0,135,1) 0%, rgba(191,92,0,1) 55%, rgba(59,0,135,1) 100%);

    }
    h1{
        position: absolute;
        color: white;
        width: 50vw;
        top: 30vh;
        left: 10vw;
    }
    .btn-purple{
        background-color: #7000FF;
        border: none;
        width: 20vw;
        height: 7vh;
        border-radius: 5px;
        span{
            color: white;
            font-size: 30px;
        }
    }
    .description{
        display: flex;
        justify-content: space-between;
        margin-right: 6vw;
        margin-left: 6vw;
        margin-top: 45vh;
        span{
            color: white;
        }
        .horizontal{
            width: 70%;
            border: 3px solid white;
            padding: 2%;

        }
        .vertical{
            padding: 2%;
            width: 100%;
            width: 20vw;
            border: 3px solid white;
        }
    }
}