body{
    background-color: black !important;
    background-image: url(/source/Layer\ 1.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top 5vh right 50%;
    header{
        img{
            width: auto;
            height: 5vh;
            cursor: pointer;
        }
        background-color: black;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(59,0,135,1) 0%, rgba(191,92,0,1) 55%, rgba(59,0,135,1) 100%);

    }
    h1{
        position: absolute;
        color: white;
        width: 50vw;
        top: 30vh;
        left: 10vw;
    }
    .block{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .btn-purple{
        background-color: #7000FF;
        border: none;
        width: 20vw;
        height: 7vh;
        border-radius: 5px;
        span{
            color: white;
            font-size: 30px;
        }
    }
    .nav{
        padding-top: 5vh;
        .activatet{
            border-bottom: 2px solid white;
        }
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            span{
                color: white;
                font-size: 30px;
            }
        }
        .nav__profile{
            button{
                margin-right: 4vw;
            }
        }

    }
    .history{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
        .history__naming{
            width: 100%;
            margin-bottom: 2.5vh;
            span{
                color: white;
            }
        }
        .history__cell{
            width: 100%;
            border: 1px solid white;
            border-radius: 5vw;
            padding: 4vh 4vw 4vh 4vw;
            margin-bottom: 4vh;
            span{
                color: white;
            }
        }
    }

}