:root{
    --s14: 14px;
    --s16: 16px;
    --s18: 18px;
    --s20: 20px;
    --s24: 24px;
    --s28: 28px;
    --s30: 30px;
    --s40: 40px;
    --s50: 50px;
    --s60: 60px;
}
@media screen and (max-width: 1250px) {
    :root{
        --s50: 40px;
    }
    .btn-purple{
        height: 5vh !important;
    }
}
@media screen and (max-width: 980px) {
    :root{
        --s30: 18px;
        --s50: 38px;
    }
    .history{
        width: 60% !important;
    }
}
@media screen and (max-width: 767px) {
    :root{
        --s20: 16px;
    }
    .history{
        width: 75% !important;
    }
    header{
        display: none !important;
    }
    .mobile-header{
        display: flex !important;
    }
}
@media screen and (max-height: 600px)  {
    header{
        img{
            height: 10vh !important;
        }
    }
    .mobile-header{
        height: 20vh !important;
        img{
            height: 10vh !important;
        }
    }
    .btn-purple{
        height: 15vh !important;
    }
    .collapse, .collapsing{
        .collapse-menu{
            button{
                width: 65vw !important;
                height: 15vh !important;
                img{
                    height: 8vh !important;
                }
            }
        }
    }
}
@media screen and (max-width: 520px) {
    :root{
        --s14: 14px;
        --s16: 16px;
        --s18: 20px;
        --s20: 14px;
        --s40: 30px;
        --s50: 20px;       
    }
    .history{
        width: 90% !important;
        .history__cell{
            border-radius: 10vw !important;
        }
    }
    .nav{
        display: block !important;
        .nav__profile{
            margin-left: auto;
            margin-right: auto;
        }
        .back{
            display: none;
        }
    }
    .collapse, .collapsing{
        .collapse-menu{
            button{
                width: 75vw !important;
            }
        }
    }
    
}
body{
    background-color: black !important;
    background-image: url(/source/Layer\ 1.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top 5vh right 50%;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    span, h1, a{
        color: white;
    }
    header{
        display: flex;
        img{
            width: auto;
            height: 5vh;
            cursor: pointer;
        }
        span{
            font-size: var(--s40);
            font-weight: 500;
        }
        background-color: black;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(59,0,135,1) 0%, rgba(191,92,0,1) 55%, rgba(59,0,135,1) 100%);
    }
    .mobile-header{
        display: flex;
        align-items: center;
        height: 10vh;
        display: none;
        img{
            width: auto;
            height: 5vh;
            cursor: pointer;
            margin-left: auto;
            margin-right: 5vw;
        }
        span{
            font-size: var(--s40);
            font-weight: 700;
            margin-left: 5vw;
        }
        background-color: black;
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(59,0,135,1) 0%, rgba(191,92,0,1) 55%, rgba(59,0,135,1) 100%);   
    }
    .collapse, .collapsing{
        position: absolute;
        z-index: 1;
        .collapse-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            background-color: black;
            padding-top: 6vh;
            padding-bottom: 2vh;
            box-shadow: 0 10px 10px black;
            button{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                width: 70vw;
                height: 10vh;
                border: 2px solid white;
                margin-bottom: 4vh;

                img{
                    position: absolute;
                    left: 10vw;
                    height: 5vh;
                }
                span{
                    font-weight: 600;
                    font-size: var(--s24);
                }
            }
        }
    }
    h1{
        position: absolute;
        color: white;
        width: 50vw;
        top: 30vh;
        left: 10vw;
    }
    .block{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .btn-purple{
        background-color: #7000FF;
        border: none;
        width: 20vw;
        height: 7vh;
        border-radius: 5px;
        span{
            font-size: var(--s30);
            font-weight: 600;
        }
    }
    .nav{
        padding-top: 5vh;
        .activatet{
            border-bottom: 2px solid white;
        }
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            span{
                font-size: var(--s30);
            }
        }
        .nav__profile{
            button{
                margin-right: 4vw;
            }
        }
    }
    .history{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
        .history__naming{
            width: 100%;
            margin-bottom: 2.5vh;
            span{
                color: white;
            }
        }
        .history__cell{
            width: 100%;
            border: 1px solid white;
            border-radius: 5vw;
            padding: 4vh 4vw 4vh 4vw;
            margin-bottom: 4vh;
            span{
                color: white;
            }
        }
    }

}